html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  padding: 1.5rem;
  background-color: #f2f2f2;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

.cards img {
  margin: 0 auto;
  width: 100px;
}

.cards {
  display: inline-block;
  display: flex;
  border-top: none;
}

.cards p:not(.author) {
  flex-grow: 1;
  margin-top: 0;
}

.quest {
  border: 1px solid #333;
  background-color: #e2e2e2;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  width: 25%;
}

.dinosaur {
  border: 1px solid #333;
  background-color: #ccc;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  width: 25%;
}

.dragon {
  border: 1px solid #333;
  background-color: #aaa;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  width: 25%;
}

.laser {
  border: 1px solid #333;
  background-color: #999;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  width: 25%;
}

.author {
  font-style: italic;
  margin: 0;
}

.btn {
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  text-decoration: none;
  padding: .4em .75em .3em;
  display: inline-block;
  font-size: 1.125rem;
  border: 3px solid #333;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: black;
}
